.App {
  text-align: center;
}

body {
  background-color: #282c34;
  color: white;
}

footer {
  color: grey;
}

button {
  width: 10em;
  height: 2em;
  font-size: large;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 60px;
  padding-right: 60px;
}

.App-link {
  color: #61dafb;
}

